.half {
	position: absolute;
	height: 100%;
	/*border: red 1px solid;*/
	top: 0;
	z-index: 0;
}

/* LEFT SIDE: TEXT */

#left {
	width: 30%;
	left: 0;
}

#title {
	font-size: 21px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 2px;
}

#subheadline {
	font-style: italic;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
}

.text {
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	/*height: 50%;*/
}


#text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 80%;
	/*overflow: scroll;*/
}

/*RIGHT SIDE: IMAGES*/

#right {
	left: 30vw;
	top: 0;
	background-color: rgb(255, 153, 102);
	width: calc(70vw + 100vh);
	/*overflow: hidden;*/
	height: calc(70vw + 100vh);
	transform: rotate(0deg);
}


.image {
	/*"100%" is actually 50%; scaled to larger "strip", similar to carousel*/
	height: 80vh;
	width: 80vh;
	width: 1px;
	position: absolute;
}

.image img {
	position: absolute;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.himage {
	width: 50vw;
	height: 1px;
	position: absolute;
}

.himage img {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.image.one {
	top: 50vh;
	left: 35vw;
	transform: translateY(-50%) translateX(-50%);
}

.himage.one {
	right: 35vw;
	top: 50vh;
	transform: translateY(-50%) translateX(-50%);
}

.image.two, .himage.two {
	bottom: 35vw;
	left: 50vh;
	transform: translateX(-50%) translateY(50%) rotate(-90deg);
}

.image.three {
	bottom: 50vh;
	right: 35vw;
	transform: translateX(-50%) translateY(50%) rotate(180deg);
}

.himage.three {
	bottom: 50vh;
	left: calc(100vh + 35vw);
	transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

.image.four, .himage.four {
	position: absolute;
	top: 35vw;
	right: 50vh;
	transform: translateX(50%) translateY(-50%) rotate(-270deg);
}

/*OTHER*/
.name {
	position: absolute;
	margin: 5px;
	font-size: 48px;
	top: 20px;
	z-index: 30;
	font-weight: 400;
}

.name:hover {
	cursor: pointer;
}

#left .name {
	right: 0;
	color: black;
}

#titlething .name {
	left: 0;
	color: white;
}

#titlething {
	position: absolute;
	height: 100vh;
	width: 70vw;
	right: 0px;
	z-index: 10;
}

#cover {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	z-index: 100;
}

#scroll-things {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#scroll-text {
	position: absolute;
	left: 50%;
	margin-top: -30px;
	transform: translateX(-50%);
	color: white;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: .5em;
	text-align: center;
}

#scroll {
	height: 50vh;
	margin-left: 3%;
}

#dot-container {
	position: absolute;
	top: 50%;
	left: 10px;
	/*transform: translateY(-50%);*/
}

.dot {
	position: relative;
	margin-top: 5px;
	width: 5px;
	height: 5px;
	border: 1px solid white;
	border-radius: 50%;
}

.fill-color {
	background-color: rgba(255, 255, 255, 1);
}

.down {
	position: relative;
	top: 5px;
	margin-top: 2px;
	transform: rotate(45deg);
	height: 5px;
	width: 5px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	animation-name: down-bobble;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-delay: .4s;
}

@keyframes down-bobble {
	from {
		top: 5px;
	} to {
		top: 15px;
	}
}

.mobilenav {
	display: none;
}

a {
	text-decoration: none;
	color: black;
	transition: 0.2s all;
}

a:hover {
	color: rgb(255, 153, 102);
}

body {
	position: absolute;
	margin: 0 auto;
	font-family: Lato;
	height: 100%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: -1;
}