#content {
    max-width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    line-height: 30px;
    color: var(--main-text-color);
}

#image-header {
    position: relative;
    height: 40vh;
    margin-top: 10vh;
}

#title {
    position: absolute;
    background: var(--emphasis-color);
    opacity: 0.9;
    top: 2vh;
    padding: 20px 20px;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    color: white;
    z-index: 2;
}

#image, .section-image {
    position: relative;
    margin: 0 auto;
    height: 60vh;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

#image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 85%;
}

.section-image {
    margin-top: 10px;
    margin-bottom: 20px;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portrait {
    width: auto;
    height: 100%;
}

.landscape {
    width: 100%;
    height: auto;
}

.large {
    width: 100%;
    height: auto;
}

.caption {
    opacity: 0.7;
    font-size: 14px;
    line-height: 1.2em;
}

p#text {
    margin: 10px 0;
}

.section {
    margin: 60px 0;
}

.section-title {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 700;
}

#footer {
    height: 500px;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--emphasis-color);
}
 
#footer-container {
    margin-top: 40px;
    max-width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.footer-header {
    font-size: 24px;
}

#footer-projects {
    width: 600px;
    margin-bottom: 30px;
}

.project-category {
    margin-top: 20px;
    font-size: 21px;
}

#footer a {
    color: white;
    display: block;
}

#footer a:hover {
    transform: translateX(5px);
    text-decoration: underline;
    animation: sideBounce .5s ease 0s infinite alternate;
}

.column {
    display: inline-block;
    width: calc(50% - 20px);
}

@keyframes sideBounce {
    from {
        padding-left: 0px;
    } to {
        padding-left: 10px;
    }
}

#lightbox {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    display: none;
}

#overlay {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#lightbox-image {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 90vh;
    overflow: scroll;
}

#lightbox-image img {
    width: 100%;
    top: 0px;
    transform: translate(-50%, 0);
}

a {
    color: var(--emphasis-color);
}

#back {
    position: relative;
    top: 5vh;
    display: block;
    margin: 20px 0;
}

html {
    margin: 0 auto;
    position: relative;
    font-family: 'Inconsolata', monospace;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background: #fafafa;
    --main-text-color: rgba(0, 0, 0, 0.7);
    /*--emphasis-color: rgba(150, 10, 10, 0.3);*/
    --emphasis-color: #DDB3B3;
}

@media (max-width: 650px) {
    #content {
        width: 70vw;
        font-size: 12px;
        line-height: 18px;
    }
}