#content {
    max-width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
} 

#landing {
    height: 100vh;
    margin: 0;
}

/** INTRO **/
.name {
    color: var(--emphasis-color);
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 24px;
    padding-top: 25vh;
    display: none;
    font-family: 'Inconsolata', monospace;
}

#intro {
    margin: 24px 0px;
}

#nav {
    margin: 24px auto;
}

#intro, #nav {
    display: none;
}

#nav a {
    display: block;
    margin: 6px 0px;
}

/* ABOUT */
#about div {
    width: 100%;
}

/** ACTIVITIES **/
#together {
    position: relative;
    top: 50%;
    height: 40vh;
    opacity: 0;
    transition: 0.5s all;
}

#tasks {
    position: absolute;
    background: rgba(255, 255, 255, 0.9); /* reduced opacity */
    top: 17px;
    padding: 12px;
    width: 17vw;
    min-height: 20vh;
    max-height: 39vh;
    overflow: scroll;
}

#tasks a {
    position: relative;
    display: block;
}

#description {
    position: absolute;
    width: 75%;
    top: 32vh;
    right: 0vw;
    text-align: right;
    display: none;
}

#description p {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-size: 14px; 
}

#background-img {
    position: absolute;
    width: 80%;
    height: 40vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
    background: white;
}

#background-img div {
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--emphasis-color);
    opacity: 0.5;
}

#background-img img {
    position: absolute;
    width: 100%;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}

/* MOBILE/NARROW VIEW */ 

#mobile-activities {
    opacity: 0;
    transition: 0.4s;
}

.activity-card {
    padding: 10px;
    background: white;
    margin: 20px 0;
    font-size: 0.8em;
    line-height: 1.5em;
}

.activity-card .card-title {
    color: var(--emphasis-color);
    font-size: 1.2em;
}

.activity-card .read-more:hover {
    cursor: pointer;
}

.read-more {
    padding: 5px;
}

/* PORTFOLIO */
#cards-container {
    width: 100%;
}

.card-1, .card-2 {
    width: calc(50% - 10px);
    display: inline-block;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    color: var(--emphasis-color);
    transition: 0.4s all;
    opacity: 0;
    vertical-align: top;
}

#portfolio .card-title {
    font-size: 1.2em;
    width: 100%;
    line-height: 1.2em;
    z-index: 2;
    margin: 8px 0;
}

.card-links a {
    color: var(--main-text-color);
    padding: 0;
    width: 100%;
    opacity: 0.6;
}

.card-1 img, .card-2 img {
    height: 50px;
    z-index: 1;
    display: block;
    transition: 0.3s all;
    margin: 5px 0;
}

.card-1:hover img { 
    transform: rotate(-15deg);
}

.card-2:hover img {
   transform: rotate(15deg); 
}

ul {
    list-style: none;
    padding: 0;
    margin: 2px 0;
}

section {
    margin-bottom: 120px;
}

a {
    color: var(--emphasis-color);
    text-decoration: none;
    transition: 0.2s all;
    font-family: 'Inconsolata', monospace;
}

a:hover {
    transform: translateX(5px);
    text-decoration: underline;
    animation: sideBounce .5s ease 0s infinite alternate;
}

@keyframes sideBounce {
    from {
        padding-left: 0px;
    } to {
        padding-left: 10px;
    }
}

html {
    margin: 0 auto;
    position: relative;
    font-family: 'Karla', sans-serif;
}

h1 {
    color: green;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background: #fafafa;
    --main-text-color: rgba(0, 0, 0, 0.7);
    --emphasis-color: #DDB3B3;
}

@media (max-width: 650px) {
    #content, .card-links a {
        width: 70vw;
        text-align: center;
    }
    
    .name {
        font-size: 1.5em;
        line-height: 1em;
    }

    #background-img {
        display: none;
    }

    #description {
        display: none;
    }

    .card-1 img, .card-2 img {
        margin: 0 auto;
    }

    .card-1, .card-2 {
        width: 100%;
        display: block;
    }

    a:hover {
        animation: none;
    }

    section {
        margin-bottom: 30px;
    }

    .name {
        padding-top: 8vh;
    }

    #landing .name {
        padding-top: 20vh;
    }
}
