#content {
	height: 100%;
	overflow: hidden;
	opacity: 1;
}

.half {
	height: 100%;
	position: relative;
	/*border: red 1px solid;*/
	float: left;
}

#left {
	width: 50%;
	color: rgba(255, 255, 255, 0);
	opacity: 0.8;
}

#right {
	width: 50%;
}

.leftShift {
	animation: 0.2s leftShift;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

.rightShift {
	animation: 0.2s rightShift;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

.rightReturn {
	animation: 0.2s rightReturn;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

.leftReturn {
	animation: 0.2s leftReturn;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

@keyframes leftShift {
	0% {width: 50%;
		opacity: 0.8;
		color: rgba(255, 255, 255, 0);}
	100% {width: 70%;
		opacity: 1;
		color: rgba(255, 255, 255, 1);}
}

@keyframes rightShift {
	0% {width: 50%;}
	100% {width: 30%;}
}

@keyframes rightReturn {
	0% {width: 30%;}
	100% {width: 50%;}
}

@keyframes leftReturn {
	0% {width: 70%;}
	100% {width: 50%;}
}

#me-picture {
	opacity: 0;
	
}

.color {
	width: 0;
	height: 100%;
	z-index: -1;
}

@keyframes returnColor {
	0% { width: 100%; }
	100% {width: 0%;}
}

.returnColor {
	animation: 0.2s returnColor;
	animation-fill-mode: forwards;
}

#leftcolor {
	position: absolute;
	right: 0;
	width: 100%;
	background-color: rgb(102, 153, 255);
}

#rightcolor {
	position: absolute;
	left: 0;
	background-color: rgb(255, 153, 102);
}

.name {
	position: absolute;
	margin: 5px;
	font-size: 48px;
	top: 20px;
	z-index: 3;
	font-weight: 400;
}

.name:hover {
	cursor: pointer;
}

#left .name {
	right: 0;
	color: white;
}

#right .name {
	left: 0;
	color: black;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 36px;
	opacity: 1;
}

.fadeOut {
	animation: 0.3s fadeOut;
	animation-fill-mode: forwards;
}

.fadeIn {
	animation: 0.5s fadeIn;
	animation-fill-mode: forwards;
}

.fastFadeIn {
	animation: 0.2s fadeIn;
	animation-fill-mode: forwards;
}

.fastFadeOut {
	animation: 0.2s fadeOut;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	0% { opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#left .aboutsection {
	position: absolute;
	width: 500px;
	height: auto;
	right: 0;
	top: 60%;
	transform: translateY(-50%);
	text-align: right;
	font-size: 18px;
	padding: 10px;
	line-height: 1.5em;
}

#texttitle {
	font-size: 36px;
	letter-spacing: 0.5px;
	height: auto;
	margin-bottom: 5px;
	font-weight: 400;
}


#right .aboutsection {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#me-picture {
	position: relative;
	right: 0;
    height: 100%;
}


/*OTHER STUFF*/
.lo {
	opacity: 0;
	color: white;
	font-weight: 400;
	text-shadow: 0px 0px 0px white;
}

.blueShadow {
	animation: blueShadow 0.5s both;
	animation-fill-mode: forwards;
}

@keyframes blueShadow {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 0px white;
	}
	50% {opacity: 1;
		text-shadow: 0px 0px 0px white;
	}
	100% {
		opacity: 1;
		text-shadow: 0px 3px 4px rgba(0, 0, 255, 0.3);
	}
}

a {
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
}


a:hover {
	color: rgb(255, 153, 102);
	transition: 0.2s all;
}

.mobilenav {
	display: none;
}

ul {
	list-style-type: none;
	margin: -2px 0px 0px 0px;
	font-size: 18px;
}

li {
	text-shadow: none;
	transition: 0.2s all;
}

li:hover {
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@media(max-width: 991px) {
	.mobilenav {
		position: fixed;
		display: none;
		font-size: 30px;
		color: white;
		top: 20px;
	}

	#right .mobilenav {
		left: 15px;
		top: 30px;
	}

	#left .mobilenav {
		right: 15px;
	}

	#about-textcontainer {
		font-size: 14px;
		width: 90%;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

	#texttitle {
		font-size: 24px;
		margin-bottom: 10px;
	}

}
