#content {
/*	animation: fadeIn 1.5s both;
	animation-delay: 2s;*/
	height: 100%;
	overflow: hidden;
	opacity: 0.8;
}

.half {
	width: 50%;
	height: 100%;
	position: relative;
	/*border: red 1px solid;*/
	float: left;
}

.hover {
	animation: hoverSide 0.3s;
	animation-fill-mode: forwards;
}

.unhover {
	animation: sideHover 0.2s;
	animation-fill-mode: forwards;
}

@keyframes hoverSide {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes sideHover {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}

.leftShift {
	animation: 0.2s leftShift;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

.rightShift {
	animation: 0.2s rightShift;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

.fadeOut {
	animation: 0.3s fadeOut;
	animation-fill-mode: forwards;
}

@keyframes rightShift {
	0% {width: 50%;
		opacity: 0.8;
		color: rgba(255, 255, 255, 0);}
	100% {width: 70%;
		opacity: 1;
		color: rgba(255, 255, 255, 1);}
}

@keyframes leftShift {
	0% {width: 50%;}
	100% {width: 30%;}
}

.color {
	width: 0;
	height: 100%;
	z-index: -1;
}

#leftcolor {
	position: absolute;
	right: 0;
	background-color: rgb(102, 153, 255);
}

#rightcolor {
	position: absolute;
	left: 0;
	background-color: rgb(255, 153, 102);
}

.name {
	position: absolute;
	margin: 5px;
	font-size: 48px;
	top: 20px;
	z-index: 3;
	font-weight: 400;
}

.name:hover {
	cursor: pointer;
}

#left .name {
	right: 0;
}

#right .name {
	left: 0;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 36px;
}

#about {
	display: block;
	margin: 0 auto;
}

.mobilenav {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
	transition: 0.2s all;
}

.half:hover {
	color: white;
	cursor: pointer;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@media(max-width: 991px) {
	.mobilenav {
		position: fixed;
		display: none;
		font-size: 30px;
		color: white;
		top: 20px;
	}

	#right .mobilenav {
		left: 15px;
		top: 30px;
	}

	#left .mobilenav {
		right: 15px;
	}
}
