
#content {
/*	animation: fadeIn 1.5s both;
	animation-delay: 2s;*/
	height: 100%;
	overflow: hidden;
	opacity: 0.8;
}

.half {
	width: 50%;
	height: 100%;
	position: relative;
	/*border: red 1px solid;*/
	float: left;
}

.color {
	width: 0;
	height: 100%;
	z-index: -1;
}

#leftcolor {
	position: absolute;
	right: 0;
	background-color: rgb(102, 153, 255);
}

#rightcolor {
	position: absolute;
	left: 0;
	background-color: rgb(255, 153, 102);
}

.name {
	position: absolute;
	margin: 5px;
	font-size: 48px;
	top: 20px;
	z-index: 3;
	font-weight: 400;
}

.name:hover {
	cursor: pointer;
}

#left .name {
	right: 0;
}

#right .name {
	left: 0;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 36px;
}

#about {
	display: block;
	margin: 0 auto;
}

/* ABOUT SECTION */
.aboutsection {
	display: none;
}

#about-textcontainer {
	position: absolute;
	width: 500px;
	height: auto;
	right: 0;
	top: 70%;
	transform: translateY(-50%);
	text-align: right;
	font-size: 18px;
	padding: 10px;
	line-height: 1.5em;
}

#texttitle {
	font-size: 36px;
	letter-spacing: 0.5px;
	height: auto;
	margin-bottom: 5px;
	font-weight: 400;
}


#about-picturecontainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#me-picture {
	position: relative;
	right: 0;
    height: 100%;
    /*transform: translateX(-42%) translateY(-25%);*/
}

/* WORK SECTION */
.work {
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
}

#navbar {
	position: absolute;
	right: 30px;
	top: 35px;
	font-size: 24px;
	margin: 5px;
}

.navitem {
	display: inline-block;
	padding: 5px 0px;
	margin: 5px;
	cursor: pointer;
	color: #323232;
}


#art {
	color: white;
	/*highlighting that default page is art on nav bar*/
}

.cs {
	display: none;
}

.design {
	display: none;
}

.picturecontainer {
	width: 90%;
	height: calc(100% - 100px);
	position: absolute;
	bottom: 0px;
	right: 50%;
	transform: translateX(50%);
	overflow: scroll;
}

.picturetile {
	width: calc(50% - 7px);
	height: calc(100%/2 - 10px);
	display: inline-block;
	overflow: hidden;
	margin: 2px;
	background-color: black;
}


#expandedimage {
	position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    opacity: 1;
}

#expanded {
	height: auto;
	width: auto;
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(50%);
}

#exit {
	font-family: helvetica;
	font-size: 36px;
	font-weight: 100;
	position: fixed;
	color: white;
	top: -5px;
	right: 0px;
	opacity: 0.6;
	padding: 20px;
	transition: 0.3s all;
}

#exit:hover {
	opacity: 0.9;
	cursor: pointer;
}

#expandoverlay {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 4;
}

.overlay {
	width: calc(50% - 7px);
	height: calc(100%/2 - 10px);
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	opacity: 1;
	display: block;
	z-index: 1;
}


.arttitle {
	padding: 5px 10px;
	border: 1px solid white;
	text-align: center;
	font-size: 18px;
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
	color: white;
	opacity: 1;
}

.picture {
	position: relative;
	display: block;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#bottom {
	height: 100%;
	width: auto;
}


.textcontainer {
	width: 70%;
	height: 300px;
	position: absolute;
	top: calc(50% + 50px);
	right: 50%;
	transform: translateY(-50%) translateX(50%);
	overflow: hidden;
	text-align: center;
	padding: 30px 10px;
}

.textgroup {
	display: none;
}

.descriptitle {
	font-size: 24px;
	font-weight: 400;
}

.mediums {
	font-style: italic;
	margin: 8px;
}

/*OTHER STUFF*/
.lo {
	animation: turnOrange 0.5s both;
	animation-delay: 0.5s;
	color: white;
	font-weight: 400;
	text-shadow: 0px 0px 0px white;
}

@keyframes turnOrange {
	from {
		text-shadow: 0px 0px 0px white;
	}
	to {
		text-shadow: 0px 3px 4px rgba(0, 0, 255, 0.3);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.9;
	}
}

/*@keyframes fadeInspesh {
	from {
		color: white;
	}
	to {
		color: #323232;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#welcome {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 48px;
	animation: fadeInspesh 2s, fadeOut 2s 1s;
	opacity: 1;
	color: white;
}
*/

a {
	color: inherit;
	text-decoration: none;
}


a:hover {
	color: rgb(255, 153, 102);
	transition: 0.2s all;
}


::-webkit-scrollbar { 
    display: none; 
}


body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
