#content {
/*	animation: fadeIn 1.5s both;
	animation-delay: 2s;*/
	height: 100%;
	overflow: hidden;
	opacity: 1;
}

.half {
	height: 100%;
	position: relative;
	/*border: red 1px solid;*/
	float: left;
}

@keyframes leftShift {
	0% {width: 50%;}
	100% {width: 70%;}
}

@keyframes rightShift {
	0% {width: 50%;
		opacity: 0;}
	100% {width: 30%;
		opacity: 1;}
}

#left {
	width: 50%;
	animation: 0.2s leftShift;
	animation-fill-mode: forwards;
}

#right {
	width: 50%;
	opacity: 0;
	animation: 0.2s rightShift;
	animation-fill-mode: forwards;
}

.color {
	width: 0;
	height: 100%;
	z-index: -1;
}

#leftcolor {
	position: absolute;
	right: 0;
	width: 100%;
	background-color: rgb(102, 153, 255);
}

#rightcolor {
	position: absolute;
	left: 0;
	background-color: rgb(255, 153, 102);
}

.name {
	position: absolute;
	margin: 5px;
	font-size: 48px;
	top: 20px;
	z-index: 3;
	font-weight: 400;
}

.name:hover {
	cursor: pointer;
}

#left .name {
	right: 0;
	color: white;
}

#right .name {
	left: 0;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 36px;
	display: none;
}

#left .aboutsection {
	position: absolute;
	width: 500px;
	height: auto;
	right: 0;
	top: 60%;
	transform: translateY(-50%);
	text-align: right;
	font-size: 18px;
	padding: 10px;
	line-height: 1.5em;
	color: white;
}

#texttitle {
	font-size: 36px;
	letter-spacing: 0.5px;
	height: auto;
	margin-bottom: 5px;
	font-weight: 400;
}


#right .aboutsection {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#me-picture {
	position: relative;
	right: 0;
    height: 100%;
    /*transform: translateX(-42%) translateY(-25%);*/
}


/*OTHER STUFF*/
.lo {
	animation: turnOrange 0.5s both;
	animation-delay: 0.5s;
	color: white;
	font-weight: 400;
	text-shadow: 0px 0px 0px white;
}

@keyframes turnOrange {
	from {
		text-shadow: 0px 0px 0px white;
	}
	to {
		text-shadow: 0px 3px 4px rgba(0, 0, 255, 0.3);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.9;
	}
}

/*@keyframes fadeInspesh {
	from {
		color: white;
	}
	to {
		color: #323232;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#welcome {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 48px;
	animation: fadeInspesh 2s, fadeOut 2s 1s;
	opacity: 1;
	color: white;
}
*/

a {
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
}


a:hover {
	color: rgb(255, 153, 102);
	transition: 0.2s all;
}

.mobilenav {
	display: none;
}

ul {
	list-style-type: none;
	margin: -2px 0px 0px 0px;
	font-size: 18px;
}

li {
	text-shadow: none;
	transition: 0.2s all;
}

li:hover {
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@media(max-width: 991px) {
	.mobilenav {
		position: fixed;
		display: none;
		font-size: 30px;
		color: white;
		top: 20px;
	}

	#right .mobilenav {
		left: 15px;
		top: 30px;
	}

	#left .mobilenav {
		right: 15px;
	}

	#about-textcontainer {
		font-size: 14px;
		width: 90%;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

	#texttitle {
		font-size: 24px;
		margin-bottom: 10px;
	}

}
