 #content {
	height: 100%;
	overflow: hidden;
	opacity: 1;
}

.half {
	height: 100%;
	position: relative;
	/*border: red 1px solid;*/
	float: left;
}

#left {
	width: 50%;
	color: rgba(255, 255, 255, 0);
	opacity: 0.8;
}

#right {
	width: 50%;
}

.leftShift {
	animation: 0.2s leftShift;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

.rightShift {
	animation: 0.2s rightShift;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

.rightReturn {
	animation: 0.2s rightReturn;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

.leftReturn {
	animation: 0.2s leftReturn;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
}

@keyframes rightShift {
	0% {width: 50%;
		opacity: 0.8;
		color: rgba(255, 255, 255, 0);}
	100% {width: 70%;
		opacity: 1;
		color: rgba(255, 255, 255, 1);}
}

@keyframes leftShift {
	0% {width: 50%;}
	100% {width: 30%;}
}

@keyframes rightReturn {
	0% {width: 70%;}
	100% {width: 50%;}
}

@keyframes leftReturn {
	0% {width: 30%;}
	100% {width: 50%;}
}


.color {
	width: 0;
	height: 100%;
	z-index: -1;
}

@keyframes returnColor {
	0% { width: 100%; }
	100% {width: 0%;}
}

.returnColor {
	animation: 0.2s returnColor;
	animation-fill-mode: forwards;
}

#leftcolor {
	position: absolute;
	right: 0;
	width: 0%;
	background-color: rgb(102, 153, 255);
}

#rightcolor {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: rgb(255, 153, 102);
}

.name {
	position: absolute;
	margin: 5px;
	font-size: 48px;
	top: 20px;
	z-index: 3;
	font-weight: 400;
}

.name:hover {
	cursor: pointer;
}

#left .name {
	right: 0;
	color: black;
}

#right .name {
	left: 0;
	color: white;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 36px;
	opacity: 1;
}

.fadeOut {
	animation: 0.3s fadeOut;
	animation-fill-mode: forwards;
}

.fadeIn {
	animation: 0.5s fadeIn;
	animation-fill-mode: forwards;
}

.fastFadeIn {
	animation: 0.2s fadeIn;
	animation-fill-mode: forwards;
}

.fastFadeOut {
	animation: 0.2s fadeOut;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	0% { opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

a {
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

a:hover {
	cursor: pointer;
}

#navbar {
	position: absolute;
	right: 40px;
	top: 32px;
	font-size: 24px;
	margin: 5px;
}

.navitem {
	display: inline-block;
	padding: 5px 0px;
	margin: 5px;
	cursor: pointer;
	color: #323232;
}


#thispage {
	color: white;
	/*highlighting that default page is design on nav bar*/
}

.picturecontainer {
	width: 90%;
	height: calc(100% - 100px);
	position: absolute;
	bottom: 0px;
	right: 50%;
	transform: translateX(50%);
	overflow: scroll;
}

.picturetile {
	width: calc(50% - 30px);
	height: calc(100%/2 - 30px);
	display: inline-block;
	overflow: hidden;
	margin: 10px;
	/*background-color: black;*/
}

.picture:hover {
	cursor: pointer;
}


#expandedimage {
	position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    opacity: 1;
}

#expanded {
	height: auto;
	width: auto;
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(50%);
}

#exit {
	font-family: helvetica;
	font-size: 36px;
	font-weight: 100;
	position: fixed;
	color: white;
	top: -5px;
	right: 0px;
	opacity: 0.6;
	padding: 20px;
	transition: 0.3s all;
}

#exit:hover {
	opacity: 0.9;
	cursor: pointer;
}

#expandoverlay {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 4;
}

.overlay {
	width: calc(50% - 30px);
	height: calc(100%/2 - 30px);
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	opacity: 1;
	display: block;
	z-index: 1;
}


.arttitle {
	padding: 5px 10px;
	border: 1px solid white;
	text-align: center;
	font-size: 18px;
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
	color: white;
	opacity: 1;
}

.picture {
	position: relative;
	display: block;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#bottom {
	height: 100%;
	width: auto;
}


.textcontainer {
	width: 70%;
	height: 300px;
	position: absolute;
	top: calc(50% + 50px);
	right: 50%;
	transform: translateY(-50%) translateX(50%);
	overflow: hidden;
	text-align: center;
	padding: 30px 10px;
}

.textgroup {
	display: none;
}

.behance {
	display: none;
	font-style: italic;
}

.descriptitle {
	font-size: 24px;
	font-weight: 400;
}

.mediums {
	font-style: italic;
	margin: 8px;
}

#right .cs {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translateX(50%) translateY(-50%);
	color: white;
	font-size: 48px;
}


::-webkit-scrollbar { 
    display: none; 
}

.mobilenav {
	display: none;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@media(max-width: 991px) {
	.mobilenav {
		position: fixed;
		font-size: 30px;
		color: white;
		top: 20px;
	}

	#right .mobilenav {
		left: 15px;
		top: 30px;
	}

	#left .mobilenav {
		right: 15px;
	}

	#navbar {
	position: fixed;
	top: 24px;
	right: 0px;
	width: 100%;
	height: 0px;
	text-align: center;
	}

	.navitem {
	display: inline-block;
	padding: 5px 3px;
	margin: 0px 5px;
	cursor: pointer;
	color: #323232;
	font-size: 24px;
	}

	.picturetile {
	width: 100%;
	height: calc(100%/3 - 30px);
	overflow: hidden;
	margin: 5px;
	background-color: black;
	right: 50%;
	}

	.overlay {
	width: calc(50% - 30px);
	height: calc(100%/3 - 30px);
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	opacity: 1;
	display: block;
	z-index: 1;
	}

	.picturecontainer {
	width: 80%;
	height: calc(100% - 90px);
	position: absolute;
	top: 85px;
	right: 50%;
	transform: translateX(50%);
	overflow: scroll;
	}

	.arttitle {
		width: 90%;
		font-size: 12px;
		text-align: center;
		border: black 0px solid;
	}

	.work {
		text-align: center;
	}

	.textcontainer {
		display: none;
		position: fixed;
		margin: 0 auto;
		height: 100px;
		width: 90%;
		top: calc(100% - 90px);
		color: white;
		z-index: 10;
		overflow: scroll;
	}

	.textgroup {
		top: 0;
		position: absolute;
		font-size: 12px;
		text-align: center;
		left: 50%;
		width: inherit;
		transform: translateX(-50%);
	}

	.descriptitle {
		font-size: 14px;
	}

}
