// .title-animation {
// 	animation: 0.5s textSlideIn ease-in, 0.3s textFadeIn ease-in;
// }

.circleUnhide {
	animation: 2s donutUnhide linear;
	animation-fill-mode: forwards;
}

.circleHide {
	animation: 2s donutHide linear;
	animation-fill-mode: forwards;
}


// KEYFRAMES
@keyframes textSlideIn {
	from {
		top: 100px;
	} to {
		top: 80px;
	}
}

@keyframes textFadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes donutUnhide {
	from {
		stroke-dashoffset: 0px;
	} to {
		stroke-dashoffset: 2000px;
	}
}

@keyframes donutHide {
	from {
		stroke-dashoffset: -2000px;
	} to {
		stroke-dashoffset: 0px;
	}
}

