@import "animations.scss";

$black: #4a4a4a;
$gray: #676767;
$pink: #F9AC91;

nav {
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-section {
    	display: flex;
    	align-items: center;
    	font-family: 'Oswald', sans-serif;
    	letter-spacing: 1px;
    	font-size: 12px;
    	text-transform: uppercase;
    	max-width: 300px;
    	margin-right: 16px;

    	h3 {
	    	font-weight: 400;
	    	cursor: pointer;
    	}

    	.nav-item-container {
    		display: flex;
    		align-items: center;
    		transition: 0.4s max-width;

    		.nav-item {
    			height: 8px;
    			width: 8px;
    			background: $gray;
    			border-radius: 50%;
    			border: 12px solid white;
    			margin-left: 8px;
    			cursor: pointer;
    			opacity: 0.5;
    		}

    		.selected-nav {
    			opacity: 1;
    		}
    	}

    	.hidden {
			max-width: 0;
			overflow: hidden;
		}
    }
}

#image-container {
	height: 329px;
	width: 329px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	overflow: hidden;
	opacity: 0.8;

	img {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		min-height: 100%;
		min-width: 100%;
		width: 100%;
		opacity: 0.7;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		border-radius: 50%;
		width: 153px;
		height: 153px;
	}
}

#svg-container {
	height: 300px;
	width: 300px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	svg {
		overflow: visible;
		height: 300px;
		width: 300px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		stroke-dasharray: 1300px;
		stroke-dashoffset: 1300px;
		#circle {
			fill: transparent;
			stroke: rgba(255, 255, 255, 1);
			stroke-width: 150px;
		}
	}

	#text {
		position: absolute;
		z-index: 1;
		transform: translateX(-80%);
		animation-fill-mode: both;
		transition: 1s;
		top: 50%;
		#title {
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			color: $black;
			font-size: 3em;
			letter-spacing: 5px;
			margin-bottom: 8px;
		}
		#description {
			font-family: 'PT Mono', monospace;
			color: $gray;
			line-height: 1.9em;
			letter-spacing: 1px;
		}

		&.default {
			transform: translateY(calc(-50% + 10px)) translateX(-50%);
		}

		&.move-up {
			transform: translateY(-50%) translateX(-50%);
		}
	}
}


main {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
}

html, body {
	margin: 0 auto;
	color: $black;
}

body {
	// CHANGE HEIGHT FOR NUMBER OF SECTIONS
	height: 400vh;
	width: 100vw;
	position: relative;
}

// RESET
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}