@import "animations.scss";

$black: #4a4a4a;
$gray: #676767;
$pink: #F9AC91;
// $blue: #95c2ee;
$blue: #cbe1f6;

#loading-svg {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	svg {
		display: block;
		width: 100px;
		stroke-dasharray: 1000px;
		animation: loading 2s linear forwards;
	}
}

@keyframes loading {
	0% {
		stroke-dashoffset: 1000px;
	} 100% {
		stroke-dashoffset: 0px;
	}
}

nav {
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .nav-section {
    	display: flex;
    	align-items: center;
    	font-family: 'Oswald', sans-serif;
    	letter-spacing: 1px;
    	font-size: 12px;
    	text-transform: uppercase;
    	max-width: 300px;
    	margin-right: 16px;

    	h3 {
	    	font-weight: 400;
	    	position: relative;
	    	display: flex;
	    	align-items: flex-end;
    	}

    	.nav-item-container {
    		display: flex;
    		align-items: center;
    		transition: 0.4s max-width;

    		.nav-item {
    			height: 8px;
    			width: 8px;
    			background: $gray;
    			border-radius: 50%;
    			border: 12px solid white;
    			margin-left: 8px;
    			opacity: 0.5;
    			position: relative;
    			cursor: pointer;
    		}

    		.selected-nav {
    			opacity: 1;
    		}
    	}

    	.nav-item {
    		cursor: pointer;
    	}

    	.nav-item-label {
    		position: absolute;
    		top: -24px;
    		left: 50%;
    		transform: translateX(-50%);
    		text-align: center;
    		width: 200px;
    	}

    	.hidden {
			max-width: 0;
			overflow: hidden;
		}
    }
}

#image-container {
	height: 329px;
	width: 329px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	overflow: hidden;
	opacity: 0.8;

	.donut-image {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		min-height: 100%;
		min-width: 100%;
		width: 100%;
		display: none;
		z-index: -1;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		border-radius: 50%;
		width: 170px;
		height: 170px;
	}
}

#svg-container {
	height: 300px;
	width: 300px;
	max-width: 100vw;
	max-height: 100vh;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	svg.circle {
		overflow: visible;
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		stroke-dasharray: 1300px;
		stroke-dashoffset: 1300px;
		z-index: 100;
		#circle {
			fill: transparent;
			stroke: rgba(255, 255, 255, 1);
			stroke-width: 150px;
		}
	}

	#text {
		position: absolute;
		z-index: 1;
		transform: translateX(-80%);
		animation-fill-mode: both;
		top: 50%;
		mix-blend-mode: multiply;
		transition: 1s;

		#title {
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			color: $black;
			font-size: 3em;
			letter-spacing: 5px;
			margin-bottom: 16px;
			line-height: 1.4em;

			a {
				&:after {
					display: none;
				}
			}
		}
		#description {
			// font-family: 'PT Mono', monospace;
			// font-family: 'Quicksand', sans-serif;
			font-family: 'Oxygen', sans-serif;
			color: $gray;
			line-height: 1.9em;
			letter-spacing: 1.5px;
		}

		&.default {
			transform: translateY(calc(-50% + 10px)) translateX(-50%);
		}

		&.move-up {
			transform: translateY(-50%) translateX(-50%);
		}
	}
}

.hidden-section {
	height: 100vh;
	width: 100vw;
	opacity: 0;
	position: relative;
	z-index: -100;
}

main {
	// width: 700px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

html, body {
	margin: 0 auto;
	color: $black;
}

body {
	// CHANGE HEIGHT FOR NUMBER OF SECTIONS
	height: 400vh;
	width: 100vw;
	position: relative;
}

a {
	text-decoration: none;
	position: relative;
	color: inherit;

	&:after {
		content: "";
	    background: $blue;
	    position: absolute;
	    display: inline-block;
	    height: 0.5em;
	    width: calc(100% + 4px);
	    left: 50%;
	    bottom: 0;
	    transform: translateX(-50%);
	    z-index: -1;
	    transition: 0.2s;
	}

	&:hover:after {
		height: 1.2em;
	}
}

// RESET
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

@media (max-width: 800px) {
	#text {
		#title {
			font-size: 2.2em !important;
			letter-spacing: 3px !important;
		}
	}

	nav {
		color: rgba(0,0,0,0);
		margin: 0;
		width: 100vw;
		z-index: -10;

		.nav-section {
			margin: 0;

			.nav-title {
				display: none !important;
			}

			.nav-title.nav-item {
				display: block !important;
				height: 8px;
			    width: 8px;
			    background: $gray;
			    border-radius: 50%;
			    border: 12px solid white;
			    margin-left: 8px;
			    opacity: 0.5;
			    position: relative;
			    cursor: pointer;

			    &.selected-nav {
			    	opacity: 1;
			    }
			}
		}
	}

	@media (orientation: portrait) {
		main {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		#svg-container {
			height: 95vh;
			width: 80vw;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;
			justify-content: flex-start;
			position: relative;
			text-align: center;

			#text {
				position: relative;
				top: 0;
				margin-top: 24px;

				
				&.default {
					transform: translateY(10px);
				}

				&.move-up {
					transform: translateY(0) translateX(0);
				}
			}

			#image-container {
				position: relative;
				transform: none;
				left: 0;
				top: 0;
				width: 50vw;
				height: 50vw;

				&:after {
					width: 26vw;
					height: 26vw;
				}
			}

			.circle {
				height: 50vw;
				width: 50vw;
				z-index: 10;

				#circle {
					fill: transparent;
					stroke: rgba(255, 255, 255, 1);
					stroke-width: 150px;
				}
			}
		}

		

		ul { 
			list-style-type: none;
			padding: 0;
		}
	}
}