svg {
	/*width: 50vw;*/
	height: 95vh;
}

div, svg {
	display: inline-block;
	vertical-align: top;
}

div {
	margin: 10px;
}

input[type="button"]:hover {
	cursor: pointer;
}

text[fill="#97d0ed"]:hover {
	transform: scale(1.5);
}